/* Cambiamos el cursor del span para que parezca un link */

.custom-header {
    color: var(--header-text);
    transition: background-color 0.4s ease;
    /* Evitamos sombras internas que puedan oscurecer el tono */
    box-shadow: none;
    background-color: transparent !important;
}

.navbar {
    background-color: var(--theme-color) !important;
    /* Variable interna de BS5 */
    box-shadow: none !important;
}

.nav-item.dropdown span {
    cursor: pointer;
}

/* Efecto Hover para mostrar el menú */
.custom-hover-dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* Evita saltos visuales */
}

/* Opcional: Para que no desaparezca si mueves el ratón un poco rápido */
.dropdown-menu {
    transition: all 0.3s ease;
}

/* Resaltado del dropdown-item activo */
.dropdown-item.active {
    background-color: var(--header-bg);
    /* Usando tus variables de tema */
    color: var(--header-text);
    font-weight: bold;
}

.active-parent .nav-link {
    color: var(--header-text) !important;
    font-weight: bold;
}

/* El Botón que cambia el modo */
.btn-theme-toggle {
    /* Será CLARO en Light Mode y OSCURO en Dark Mode */
    background-color: var(--inverse-theme-color) !important;
    /* El icono: lo ponemos en var(--theme-color) para que contraste con el fondo del botón */
    color: var(--theme-color-) !important;
    border: none;
    border-radius: 50%;
    transition: all 0.4s ease;
}

/* El Hover de los enlaces */
.nav-link:hover {
    /* Fondo CLARO en Light Mode sobre navbar oscura */
    background-color: var(--inverse-theme-color) !important;
    /* Texto OSCURO en Light Mode para que se lea sobre el hover claro */
    color: var(--theme-color) !important;
}